@model Weather.MVC.ViewModel.WeatherViewModel

@{
    ViewBag.Title = "Väder Projekt";
}

<br />
<br />

<div class="M2">

    @Html.ActionLink("Tillbaka - Sök efter ny stad!", "Index")

    <h2>Vädret i @Model.City.Name för de 5 kommande dagarna</h2>

</div>

    <br />

    <p class="error">@TempData["noForecast"]</p>

    <ol class="weatherlist">

        @if (Model != null && Model.HasForcast)
        {
            foreach (var item in @Model.Forecasts)
            {
                var day = Model.GetDayOfTheWeek(item.LastUpdate, item.Period);

                if (day != null)
                {
                    <h3>@day</h3>
                }

                <li>
                    <p>
                        <span class="temp">@item.Temperature &deg;C</span>

                        <span class="weatherSymbol"><img src="http://api.yr.no/weatherapi/weathericon/1.1/?symbol=@item.Symbol;content_type=image/png" /></span>

                        @Model.TimePeriod(item.LastUpdate, item.NextUpdate)
                    </p>

                </li>

            }
        }

    </ol>
